{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block js %}
    {% raw -%}
        <script id="new_channel" type="text/x-handlebars-template">
            <li class="room_entry">
                <a href="{{ href }}">{{ room }}</a>
                <span> ( </span>
                <span id="{{ room }}_message_count">0</span>
                <span> Messages )</span>
            </li>
        </script>
    {%- endraw %}
    <script src="{{ url_for('static', filename='index.js') }}"></script> 
{% endblock %}

{% block body %}
    <h4>Index Page</h4>
    <h6>
        Signed in as '{{ user }}'
    </h6>
    <div>
        {% if rooms|length > 0 %}
            <ul id="room_list">
                {% for room in rooms %}
                    <li class="room_entry">
                        <a href="{{ url_for('room', room_name=room.room) }}">{{ room.room }}</a>
                        <span> ( </span>
                        <span id="{{ room.room }}_message_count">{{ room.message_count() }}</span>
                        <span> Messages )</span>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <span id="empty_message">&ltNo rooms created&gt</span>
        {% endif %}
    </div>
    <br>
    <div>
        <form id="form">
            <input id="channel" type="text" placeholder="new channel name" autocomplete="off" required>
            <button type="submit">Create Channel</button>
        </form>
    </div>
    <br>
    <div>
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
{% endblock %}
