{% extends "layout.html" %}

{% block title %}
    Flack: Menu
{% endblock %}

{% block js %}
    {% raw -%}
        <script id="new_channel" type="text/x-handlebars-template">
            <li class="room_entry">
                <span class="room"><a href="{{ href }}">{{ room }}</a></span>
                <span class="count"> ( <span id="{{ room }}_message_count">{{ count }}</span> Messages )</span>
            </li>
        </script>
    {%- endraw %}
    <script src="{{ url_for('static', filename='index.js') }}"></script> 
{% endblock %}

{% block body %}
    <h4>Menu Page</h4>
    <h6>
        Signed in as '{{ user }}'
    </h6>
    <div>
        <span id="empty_message">&ltNo rooms created&gt</span>    
        <ul id="room_list"></ul>
    </div>
    <br>
    <div>
        <form id="form">
            <input id="channel" type="text" placeholder="new channel name" autocomplete="off" required>
            <button type="submit">Create Channel</button>
        </form>
    </div>
    <br>
    <div id="logout_button">
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
{% endblock %}
