{% extends "layout.html" %}

{% block title %}
    Flack: {{ room }} 
{% endblock %}

{% block js %}
    {% raw -%}
        <script id="new_message" type="text/x-handlebars-template">
            <div class="message_container" onmouseover="unhide_times()" onmouseout="hide_times()">
                <span class="message_entry">{{ text }}</span>
                <span class="message_time" hidden>(Sent {{ time }})</span>
            </div>
        </script>
    {%- endraw %}
    <script src="{{ url_for('static', filename='room.js') }}"></script> 
{% endblock %}

{% block body %}
    <h4><span id="room">{{ room }}</span></h4>
    <h6>
        Signed in as '{{ user }}'
    </h6>
    <div id="message_list">
        <div id="empty_message"></div>
    </div>
    <br>
    <div>
        <form id="form">
            <input id="message" type="text" placeholder="message" autocomplete="off" required>
            <button type="submit">Send Message</button>
        </form>
    </div>
    <br>
    <div id="exit_button">
        <form action="{{ url_for('exit_room') }}" method="post">
            <button type="submit">Exit Room</button>
        </form>
    </div>
{% endblock %}
