{% extends "layout.html" %}

{% block title %}
    Room: {{ room.room }} 
{% endblock %}

{% block js %}
    {% raw -%}
        <script id="new_message" type="text/x-handlebars-template">
            <div onmouseover="unhide_times()" onmouseout="hide_times()">
                <span class="message_entry">{{ text }}</span>
                <span style="padding-left: 25px; font-size: x-small;" hidden class="message_time">(Sent {{ time }})</span>
            </div>
        </script>
    {%- endraw %}
    <script src="{{ url_for('static', filename='room.js') }}"></script> 
{% endblock %}

{% block body %}
    <h4>Room: <span id="room">{{ room }}</span></h4>
    <h6>
        Signed in as '{{ user }}'
    </h6>
    <div id="message_list">
        <div id="empty_message">&ltNo messages sent&gt</div>
    </div>
    <br>
    <div>
        <form id="form">
            <input id="message" type="text" placeholder="message" autocomplete="off" required>
            <button type="submit">Send Message</button>
        </form>
    </div>
    <br>
    <div>
        <form action="{{ url_for('exit') }}" method="post">
            <button type="submit">Exit Room</button>
        </form>
    </div>
{% endblock %}
